body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #eeeeee;
    padding: 10px;
}

header h1 {
    font-size: 2em;
    color: #333333;
    width: 80%;
    margin: 20px auto;
}

.ofertas-grid {
    width: 80%;
    margin: 30px auto; 
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.tarjeta {
    padding: 15px;
    border: 1px solid navy;
    border-radius: 2px;
    background-color: white;
}

.tarjeta h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.tarjeta p {
    margin: 2px 0;
    font-size: 1em;
}

.precio {
    color: red;
    font-size: 1.5em;
    font-weight: 900;
    margin-top: 10px;
}

.precio.gratis {
    text-decoration: none;
    font-weight: normal;
    color: green;
}

.anuncio-prueba {
    width: 80%;
    margin: 10px auto;
    
    background-color: navy;
    border: 1px solid navy; 
    border-radius: 3px;

    padding: 10px;

    color: white;
    font-size: 1em;
}

.anuncio-prueba p strong {
    font-size: 1.2em;
    text-transform: uppercase;
}
